body {
    margin: 0;
    overflow: hidden;
    background: url('road.png') no-repeat center center fixed;
    background-size: cover;
    animation: scrollBackground 10s linear infinite;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

#scoreDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 27px;
    color: red;
}

#pauseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
}
